.HeadBar{
   display: inline-block;
   background:#8b9dc3;
   width:80%;
   padding-top: 1rem;
   margin-top: 10%;
   box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  }

.btn{
  background-color: #3b5998;
  border:none;
  color:white;
  outline: none;
  display: inline-block;
  font-size: 15px;
  margin: 1rem;
  padding: 1rem 1rem;
  cursor: pointer;
  transition-duration: 0.4s;
  
}
.btn:hover {
  background-color: #ffffff;
  color: #3b5998;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}
